body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #f4f4f4;
    min-width: 400px;
    padding-bottom: 25px;
}

header img {
    max-width: 400px;
    height: auto;
}

header {
    background-color: #2C4636;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    height: 180px;
    padding: 0 15px;
    position: relative;
}

.container { 
    width: 80%; 
    margin: 20px auto;
    display: flex;
    position: relative;
}

button {
    background-color: #2C4636;
    color: white;
}

.page_change_title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title {
    width: 100%;
    margin: 10px;
    border: 1px solid black;
    background-color: #2C4636
}

.title_format {
    color: white; 
    font-size: 15px; 
    text-align: center; 
    background-color: #2C4636;
}

a {
    color: white; 
}

a:hover {
    color: white; 
}

h1, h2 { 
    color: #2C4636; 
    font-size: 20px; 
    text-align: center; 
}

#weatherTableContainer {
    border: 1px solid black;
    height: 200px; /* Or any height that fits your design */
    overflow-y: auto;
    margin-bottom: 10px; /* Adjust as needed */
}

#weatherTable {
    width: 100%;
    border-collapse: collapse;
}

#weatherTable thead {
    background-color: #f2f2f2;
}

#weatherTable th, #weatherTable td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}

#weatherTable th {
    position: sticky;
    top: 0;
}

table {
    width: 100%;
    border-collapse: collapse; /* 确保边框不会重复 */
}

th, td {
    border: 1px solid black; /* 设置单元格边框为黑色 */
    padding: 8px; /* 内部填充使内容不与边框紧贴 */
    text-align: left; /* 文字左对齐 */
}

th {
    background-color: #f2f2f2; /* 标题背景色 */
}

/* phone */
@media (max-width: 100px) {
    .module {
        padding: 5px;
    }
    h1, h2 {
        font-size: 16px;
    }
    th, td {
        padding: 4px;  /* smaller screen */
    }
    button, input[type="text"], select {
        font-size: 10px;  
        padding: 5px;  
        margin: 2px 0;  
    }
}
