/* Main container styling for the table and other elements */
#MangoTableContainer {
    border: 1px solid black;
    height: 200px; /* Adjust height as needed */
    overflow-y: auto;
    margin-bottom: 10px; /* Additional spacing below the table */
}

/* Styles for the main button leading back to the homescreen */
#homescreen_button_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    margin-bottom: 100px; /* Spacing from the bottom */
    width: 100%;
}

#homescreen_button {
    width: 60%; /* Full width of the container */
    padding: 10px;
    border: none;
    background-color: #2C4636; /* Matching other green buttons */
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

/* Table and table header styles */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Styles for all buttons to be consistent */
button {
    display: block; /* 设置按钮为块级元素 */
    width: 60%; /* 按钮宽度占满容器宽度 */
    margin: 5px auto; /* 上下保留10px间距，左右自动调整以居中 */
    padding: 8px; /* 按钮内部填充 */
    border: none; /* 无边框 */
    background-color: #2C4636; /* 深绿色背景 */
    color: white; /* 白色文字 */
    border-radius: 5px; /* 圆角边框 */
    cursor: pointer; /* 鼠标指针形状为点击指示 */
}

input[type="text"], input[type="number"], select {
    box-sizing: border-box; /* 新增此属性 */
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Style for links (if any) */
a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

/* Heading styles */
h1, h2 {
    color: #2C4636;
    font-size: 20px;
    text-align: center;
}

/* Responsive styles for smaller devices */
@media (max-width: 100px) {
    button, input[type="text"], input[type="number"], select {
        font-size: 10px;
        padding: 5px;
        margin: 2px 0;
    }
}

/* Additional styles for search box */
#searchBox {
    margin-bottom: 5px;
    width: 100%; /* Matching other input fields */
    padding: 8px;
}
