body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #f4f4f4;
}

.container {
    max-width: 100%;
    margin-top: 180px; 
    margin-bottom: 100px; 
    padding: 0px; 
}

input[type="text"] {
    width: 100%; 
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    background-color: #2C4636; 
    color: white; 
    height: 45px; 
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    margin-bottom: 10px;
}

a {
    display: block;
    padding: 15px;
    background-color: #fff;
    color: #2C4636;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    font-weight: bold;
    text-align: center;
}

a:hover {
    background-color: #f0f0f0;
}

@media only screen and (max-width: 428px) {
    .container {
        padding: 0 10px; 
    }
    input[type="text"] {
        width: calc(100% - 20px); 
    }
}