body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
}

.categories {
    width: 200px; /* 左侧宽度 */
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    position: fixed;
    height: 100%;
}

.categories h2 {
    font-size: 18px; /* 字体大小 */
    font-weight: bold; /* 加粗 */
    color: #2C4636; /* 绿色 */
}

.categories ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0; /* 类别之间的间距 */
}

.categories li {
    padding: 10px 0;
    cursor: pointer;
    font-size: 16px; /* 字体大小 */
    font-weight: bold; /* 加粗 */
    color: #2C4636; /* 绿色 */
}

.products {
    padding: 20px;
    text-align: center;
    margin-left: 200px; /* 调整为左侧宽度 */
    width: calc(100% - 200px); /* 右侧宽度为剩余空间 */
}

.product {
    display: inline-block;
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #777; /* 更深的灰色边框 */
    color: #2C4636; /* 绿色 */
    background-color: #ccc; /* 更深的灰色背景 */
    border-radius: 10px; /* 圆角 */
}

@media only screen and (max-width: 926px) {
    /* 适应 iPhone 14 Pro Max 的宽度 */
    .categories {
        width: 150px; /* 调整左侧宽度 */
        padding: 10px;
    }

    .products {
        margin-left: 150px; /* 调整右侧边距 */
        width: calc(100% - 150px); /* 右侧宽度为剩余空间 */
    }

    .product {
        width: 150px; /* 调整商品宽度 */
    }
}

/* 新增样式 */
.add-product-form {
    display: none;
    text-align: center;
}

.add-product-form input {
    margin-bottom: 5px; /* 调整间距 */
    width: 150px; /* 调窄输入框 */
    display: block; /* 每个输入框独占一行 */
    margin: 5px auto; /* 居中显示 */
}

.add-product-form button {
    padding: 5px 10px;
    background-color: #2C4636;
    color: white;
    border: none;
    cursor: pointer;
}

.categories ul {
    list-style-type: none; /* 移除默认的列表项目标记 */
    padding: 0;
    margin: 0;
}

.categories li {
    padding: 15px 10px; /* 增加垂直填充以增大间距 */
    cursor: pointer;
    font-size: 16px;
    font-weight: normal; /* 如果需要取消加粗 */
    color: #2C4636; /* 保持现有颜色设置 */
    font-family: Arial, sans-serif; /* 设置字体 */
    border-bottom: 1px dashed #ccc; /* 添加虚线分隔 */
}

/* 移除最后一个列表项的底部边框 */
.categories li:last-child {
    border-bottom: none;
}

/* 新增样式 */
.quantity {
    width: 50px; /* Adjust width */
    margin: 0 auto; /* Center align */
}

/* Style for delete button */
.delete-category-btn {
    background-color: #f44336; /* 保持红色背景 */
    color: white; /* 保持白色叉 */
    border: none;
    border-radius: 50%; /* 圆形按钮 */
    padding: 3px 5px; /* 减小填充来缩小按钮 */
    font-size: 10px; /* 减小叉子的大小 */
    cursor: pointer;
    display: inline-block;
    line-height: 10px; /* 调整行高以居中叉子符号 */
    width: 15px; /* 控制按钮的宽度 */
    height: 15px; /* 控制按钮的高度 */
}

/* Style adjustments for product and homescreen buttons */
.product-btn, .product button {
    margin: 5px; /* Add margin around each button */
    padding: 5px 10px; /* Consistent padding for all buttons */
    background-color: #2C4636; /* Uniform background color */
    color: white; /* Text color */
    border: none; /* Remove borders */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 5px; /* Rounded corners */
}

.categories ul li#homeScreenButtonLi {
    padding: 10px; /* 与其他列表项一致的内边距 */
}

.categories button#homeScreenButton {
    width: 100%; /* 按钮宽度填满列表项 */
    padding: 5px 0; /* 合适的垂直填充 */
    background-color: #2C4636; /* 背景色 */
    color: white; /* 文字颜色 */
    border: none; /* 去除边框 */
    border-radius: 10px;
    cursor: pointer; /* 鼠标悬停时显示指针 */
}

.search-box {
    padding: 10px 0; /* 调整内边距，去掉左右内边距 */
    text-align: left; /* 左对齐文本 */
    width: 180px; /* 计算宽度，假设容器有一定的内边距 */
    margin-left: 20px; /* 左边距，假设与商品框的左边距相同 */
}

.search-box input[type="text"] {
    width: 100%; /* 输入框宽度填满搜索框 */
    padding: 8px 10px; /* 保留一定的内边距使文本显示舒适 */
    background-color: #2C4636; /* 深绿色背景 */
    color: white; /* 白色文字 */
    border: none; /* 移除边框 */
    border-radius: 4px; /* 轻微圆角 */
}
